@use "../../styles/partials/variables" as v;
@use "../../styles/partials/mixins" as m;
@use "../../styles/partials/breakpoints" as bp;

.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-top: 1px solid #000;
    flex-direction: column;
    &:first-of-type {
      border: none;
    }
    &:nth-child(even) {
      background-color: v.$secondary-color;
      color: #fff;
    }

    @include bp.large {
      flex-direction: row;
    }
    &-value {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      // &:nth-child(even) {
      //   background-color: v.$secondary-color;
      //   color: #fff;
      // }
      @include bp.large {
        width: 12%;
        &:nth-child(odd) {
          background-color: v.$secondary-color;
          color: #fff;
        }
        &:nth-child(even) {
          background-color: v.$primary-color;
          color: #000;
        }
      }
      &--pos {
        @extend .leaderboard__item-value;
        text-align: center;
        @include bp.large {
          width: 6%;
        }
      }
      &--header {
        @extend .leaderboard__item-value;
        font-weight: 800;
        writing-mode: vertical-lr;
        text-orientation: mixed;
        text-align: right;
        @include bp.large {
          writing-mode: unset;
          text-orientation: unset;
          text-align: left;
          display: block;
        }
      }
      &-mobile-label {
        @include bp.large {
          display: none;
        }
      }
    }
    &--header {
      @extend .leaderboard__item;
      font-weight: 800;
      border: none;
      display: none;
      @include bp.large {
        display: flex;
      }
    }
  }
}

.bold {
  font-weight: 800;
}

.toggle-details {
  display: block;
  margin-left: auto;
  @include bp.large {
    display: none;
  }
}
.hide-details {
  .canhide {
    display: none;
    @include bp.large {
      display: flex;
    }
  }
}

.golden-paddle {
  width: 20px;
}

.no-players {
  width: 100%;
  text-align: center;
  background: v.$secondary-color;
  padding: 1rem;
  margin: 0;
  border: 3px solid #000;
  color: #fff;
}
