@use "../../styles/partials/variables" as v;
@use "../../styles/partials/mixins" as m;
@use "../../styles/partials/breakpoints" as bp;

.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-top: 1px solid #000;
    &:nth-child(2) {
      .crown {
        display: inline-block;
      }
    }
    &-value {
      padding: 1rem;
      &:nth-child(odd) {
        background-color: v.$secondary-color;
        color: #fff;
      }
      width: 15%;
      &--header {
        @extend .leaderboard__item-value;
        font-weight: 800;
        writing-mode: vertical-lr;
        text-orientation: mixed;
        text-align: right;
        @include bp.medium {
          writing-mode: unset;
          text-orientation: unset;
          text-align: left;
        }
      }
    }
    &--header {
      @extend .leaderboard__item;
      font-weight: 800;
      border: none;
    }
  }
}

.bold {
  font-weight: 800;
}

.crown {
  display: none;
}
