@use "../../styles/partials/variables" as v;
@use "../../styles/partials/mixins" as m;
@use "../../styles/partials/breakpoints" as bp;

.header {
  text-align: center;
  padding: 3rem;
}
.version {
  font-size: 0.8rem;
}

.blink {
  animation: blink-animation 1s steps(2, start) infinite;
  display: inline;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
